
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.searchForm, .charts{
    margin: 20px 20px 0 20px;
    padding: 45px 0 45px 48px;
    /* todo test*/
    border: 1px solid lightgray;
}
.gridRow {

}
.gridCol {

}

.charts {
    height: auto;

}

.chartLegend {
    /*border: 1px solid red;*/
}

.label{
    /*display: inline-block;*/
    width: 11px;
    height: 12px;
    padding: 2px;
    margin: 2px 4px;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
    /*white-space: nowrap;*/
    cursor: pointer;
}

.labelText {
    margin-left: 1px;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    /*border: 2px solid #ccc;*/
}
.labelIcon {
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 1px;
    /*font-size: 75%;*/
    /*font-weight: bold;*/
    line-height: 1;
    /*text-align: center;*/

    vertical-align: middle;
    border-radius: .25em;


    background-color: red;
}

.labelIcon::before {
    content: url("./images/hook.png");
    position: relative;
    top: -10%;
    left: 10%;
}


.deselected {
    width: 12px;
    height: 12px;
    display: inline-block;
    padding: 1px;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25em;
    border: 2px solid #ccc;
}

.disabled {
    color: gray;
}
