
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.searchForm, .charts{
    margin: 20px 20px 0 20px;
    /*padding: 20px;*/
    /* todo test*/
    border: 1px solid lightgray;
}
.gridRow {

}
.gridCol {

}

.charts {
    height: auto;

}

.chartLegend {
    border: 1px solid red;
}

.legendItem {
    background-color: green;
}

.legendItemDisabled {
    background-color: red;
}

.disabled {
    color: gray;
}
