.ant-form-item-control-wrapper {
    margin-left: 3.5%;
}

.dataform {
    margin: 34px;
    padding-top: 30px;
    border: 2px solid #eff3f3;
}

.separate {
    margin: 0 30px;
    background: #9e9e9e;
    font-size: 0;
    vertical-align: middle;
    width: 1px;
    display: inline-block;
    height: 24px;
}

.shadowButton {
    color: #fff;
    background-color: #d52632;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(213, 38, 50, 0.4);
}
