
.wrapper{
	padding-right: 11px;
}

.main_wrapper{
	width: 1296px;
	height: 702px;
	border: 2px solid #f2f2f2;
	padding-top: 82px;
	margin-left: 45px;
	overflow: hidden;
}

.import_part{
	width: 590px;
	height: 62px;
	float: left;
}

.export_part{
	width: 702px;
	height: 68px;
	float: left;
	border-left: 2px solid #e6e6e5;
	padding-top: 4px;
}

.from_area{
	width: 100%;
	height: 100%;
}

.input_area{
	width: 0;
	height: 0;
	float: left;
}

.chose_area{
	width: 178px;
	height: 68px;
	float: left;
	padding-right: 22px;
	padding-top: 18px;
}

.chose_text{
	width: 128px;
	height: 26px;
	float: left;
	text-indent: 46px;
	line-height: 26px;
	font-size: 16px;
	color: #999;
}

.chose_btn{
	width: 26px;
	height: 26px;
	background-color: #f2f2f2;
	border-radius: 4px;
	float: right;
	position: relative;
}

.chose_vertical{
	width: 1px;
	height: 13px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.chose_horizontal{
	width: 13px;
	height: 1px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.view_area{
	width: 184px;
	height: 68px;
	float: left;
	background-color: #f2f2f2;
	padding-top: 24px;
	padding-right: 14px;
}

.view_text{
	width: 146px;
	height: 18px;
	font-size: 16px;
	line-height: 18px;
	text-indent: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
}

.delete_btn{
	width: 18px;
	height: 18px;
	background-color: #333;
	float: right;
	border-radius: 4px;
	position: relative;
}

.delete_vertical{
	width: 8px;
	height: 1px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.delete_horizontal{
	width: 8px;
	height: 1px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}


.submit_btn{
	width: 124px;
	height: 42px;
	float: left;
	background-color: #d52632;
	border-radius: 8px;
	font-size: 18px;
	color: #fff;
	line-height: 42px;
	text-align: center;
}

